[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "PYpi"

[packages]
flask = "*"
flask-SQLAlchemy = "*"
"psycopg2" = "*"
flask-migrate = "*"
flask-script = "*"
marshmallow = "*"
flask-BCrypt = "*"
PYJwt = "*"

[dev-packages]

[requires]
python_version = "3.6"